@keyframes glow {
    0% {
        text-shadow: 0 0 0px #ffd736;
        opacity: 0;
    }
    50% {
        text-shadow: 0 0 15px #ffd736, 0 0 30px #ffd736;
        opacity: 0.5;
    }
    100% {
        text-shadow: 0 0 20px #ffd736, 0 0 40px #ffd736;
        opacity: 1;
    }
}

.animate-glow {
    animation: glow 2s ease-in-out forwards;
}