
@font-face {
    font-family: 'Arial Rounded MT';
    src: url('/fonts/ArialRoundedMTBold.eot');
    src: url('/fonts/ArialRoundedMTBold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/ArialRoundedMTBold.woff2') format('woff2'),
        url('/fonts/ArialRoundedMTBold.woff') format('woff'),
        url('/fonts/ArialRoundedMTBold.ttf') format('truetype'),
        url('/fonts/ArialRoundedMTBold.svg#ArialRoundedMTBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


a {
    color: #ffd736; 
    text-decoration: underline; 
}

a:hover {
    color: #ffd736;
    text-decoration: none;
}

a:visited {
    color: #ffd736;
    text-decoration: underline; 
}



body {
    margin: 0;
    background-color: rgb(0, 0, 0);
    font-family: 'Arial Rounded MT';
    font-weight: bold;
    font-style: normal;

}

p {
    color: #ffd736;
    font-family: 'Arial Rounded MT';
}

h2 {
    color: #ffd736;
    font-family: 'Arial Rounded MT';   
}
 

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: rgb(0, 0, 0);
}

.logo {
    margin-top: 15px;
    filter: drop-shadow(0 0 10px #ffd736);
    animation: poweredPulse 1.5s infinite alternate;
}
    
      @keyframes poweredPulse {
        0% { filter: drop-shadow(0 0 5px #665202); }
        100% { filter: drop-shadow(0 0 20px #a58503); }
      }


.main img {
    width: 600px;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
}

.main-wrapper p {
    text-align: left; /*to align it visible in the app */
    font-size: 1.5em;
    margin-top: 4vh;
}

#countdown {
    color: #ffd736;
    font-family: 'Arial Rounded MT';
    font-size: 4em;
}

/* Media queries for responsiveness */
@media (max-width: 1300px) {
    .main img {
        width: 500px;
    }

    .main-wrapper {
        width: 550px;
    }

    .main-wrapper p {
        font-size: 1.3em;
    }

    #countdown {
        font-size: 3em;
    }
}

@media (max-width: 768px) {
    .main img {
        width: 400px;
    }

    .main-wrapper {
        width: 450px;
    }

    .main-wrapper p {
        font-size: 1.2em;
    }

    #countdown {
        font-size: 2.5em;
    }
}

@media (max-width: 480px) {
    .main img {
        width: 300px;
    }

    .main-wrapper {
        width: 350px;
    }

    .main-wrapper p {
        font-size: 1em;
    }

    #countdown {
        font-size: 2em;
    }
}

.grey-out {
    filter: grayscale(100%);
    transition: filter 0.3s ease;
  }
  
  .grey-out:hover {
    filter: grayscale(0%);
  }

  svg.filters { height:0; width: 0; position: absolute; z-index:-1; }
.header-text {
    color: #ffd736;;
    font-size: 2em;
    text-align: center;
    line-height: 1.0625;
    font-weight: 600;
    letter-spacing: -0.009em;
}
.glow-filter{
    position: relative;
    display: inline-block;
    scale: 1;

    animation: onloadscale 1s ease-out forwards;
}
.glow-filter::before{
    content: attr(data-text);
    position: absolute;
    pointer-events: none;
    color:  #ffd736;;
    background: linear-gradient(0deg, #efff14 0%, #ecd824 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: url(#glow-4);
    -moz-filter: url(#glow-4);
    -webkit-filter: url(#glow-4);

    opacity: 0;
    animation: onloadopacity 1s ease-out forwards;
}
@keyframes onloadscale {
    24% { scale: 1; }
    100% { scale: 1.02; }
}
@keyframes onloadopacity {
    24% { opacity: 0; }
    100% { opacity: 1; }
}


.bg {
    width: 100%; height: 100%;
    max-width: 44em;
    position: absolute;
}
.bg > div {
    position: absolute;
    scale: 1.2;
    opacity: 0.6;
}
.bg > div:nth-child(1) {
    width: 100%;
    height: 100%;
    /* border-radius: 100em;
    box-shadow: 
    inset 0 0 4em 3em rgba(238, 200, 175, 0.2),
    inset 0 0 2em 0.4em rgba(238, 200, 175, 0.2),
    0 0 0.1em 0.1em rgba(238, 200, 175, 0.2),
    0 0 1em 0.4em rgba(238, 200, 175, 0.3); */

    translate: 0 -70%;
    animation: onloadbgt 1s ease-in-out forwards;
}
.bg > div:nth-child(2) {
    width: 100%;
    height: 100%;
    /* border-radius: 100em;
    box-shadow: 
    inset 0 0 4em 3em rgba(238, 200, 175, 0.2),
    inset 0 0 2em 0.4em rgba(238, 200, 175, 0.2),
    0 0 0.1em 0.1em rgba(238, 200, 175, 0.2),
    0 0 1em 0.4em rgba(238, 200, 175, 0.3); */
    
    translate: 0 70%;
    animation: onloadbgb 1s ease-in-out forwards;
}
@keyframes onloadbgt {
    0% { translate: 0 -70%; opacity: 0.3; }
    100% { translate: 0 -64%; opacity: 0.8; }
}
@keyframes onloadbgb {
    0% { translate: 0 70%; opacity: 0.3; }
    100% { translate: 0 64%; opacity: 0.8; }
}
